.idea/
pom.xml

# Игнорировать временыне файлы
*.log
*.tmp

# Игнорировать файлы конфигурации
.config

# Игнорировать директорию с зависимостями
/node_modules/

# Игнорировать все файлы внутри директории
/assets/*